body, html {
  padding: 0;
  margin: 0;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header {
  position: relative;
  height: 400px;
  width: 100%;
  margin-bottom: 200px;
  background: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 120%;
}
.header .nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
}
.nav_bar .nav {
  display: flex;
}
.nav_bar .name_age .name {
  color: #8B4513;
  font-size: 20px;
  font-weight: 600;
  text-shadow: none;
}
.nav_bar .name_age {
  color: #388E8E;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 6px 3px 3px #388E8E;
}
.nav_bar .nav li {
  margin-left: 25px;
  color: #CD96CD;
  font-weight: 500;
}
.nav_bar .nav .active {
  color: #458B00;
}
.header .basic_info {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -350px;
  height: 370px;
  width: 650px;
  padding: 30px 0 0 50px;
  background: url('./images/basic_info_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #666666;
}
.basic_info .h4 {
  margin-bottom: 15px;
}
.basic_info .divlder {
  width: 350px;
  height: 2px;
  margin-bottom: 10px;
  background: #B8B8B8;
}
.basic_info .detail_info .item {
  margin-bottom: 10px;
  color: #5E5E5E;
}
.basic_info .detail_info .item span {
  display: inline-block;
  width: 80px;
  color: #000000;
}
.basic_info .icon {
  display: flex;
  margin-top: 30px;
}
.basic_info .icon img{
  height: 30px;
  margin-right: 20px;
}
.skill {
  margin: 0 auto;
  width: 650px;
  border-radius: 5px;
  padding: 25px;
  padding-right: 0;
  box-shadow: 4px 4px 8px #666666;
}
.skill h3{
  margin: 10px 0;
  text-align: center;
  color: #607B8B;
}
.skill .skill_desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill .skill_desc .content h4, h5 {
  margin: 10px 0;
}
.skill .skill_desc .content .item {
  padding-left: 10px;
}
.skill .skill_desc .content .item div {
  padding-left: 10px;
  font-size: 14px;
  color: #5E5E5E;
}
.skill .skill_desc img {
  height: 300px;
}
.experience {
  margin: 0 100px;
}
.experience h2 {
  text-align: center;
  color: #607B8B;
}
.experience .item {
  display: flex;
  justify-content: space-between;
  background: rgb(197,219,222);
  margin-bottom: 30px;
  max-height: 300px;
  border: 1px solid rgb(197,219,222);
  border-radius: 10px;
}
.experience .item img {
  width: 30%;
  margin-right: 15px;
}
.experience .item .desc .title {
  font-size: 18px;
  margin: 10px;
}
.experience .item .desc .content {
  padding-right: 10px;
  line-height: 24px;
  color: #5E5E5E;
}
.experience .item .desc a {
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  color: #5E5E5E;
  background: #20B2AA;
}
.self_introduction {
  width: 87%;
  margin: 15px auto;
  text-align: center;
}
.self_introduction h2 {
  color: #607B8B;
}
.self_introduction .content {
  padding: 20px 0;
}
